.details {
  height: 50%;
  width: 100%;
  top: 50%;
  position: fixed;
  z-index: 500;
  background-color: $whiter;
  box-shadow: 0 9px 11px 10px $gray;
  transition: top 200ms ease-out;

  @media (min-width: 1200px) {
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
    box-shadow: 9px 0 11px 10px $gray;
    transition: right 200ms ease-out;
    padding-top: $topbar-size;
  }
}

.details-hide {
  top: 100%;
  box-shadow: none;

  @media (min-width: 1200px) {
    right: -40%;
  }
}

.details-header {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid $gray;
}

.details-title {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: $black;
}

.details-close {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $black;
}

.details-body {
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
  color: $black;
  padding: 15px;
}
