.sidebar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: $topbar-size;
  height: 100%;
  background-color: $background;
  padding: $topbar-size 8px 0px;
  transition: left 200ms ease-out;
  // box-shadow: 0 0 3px $gray;
  overflow: auto;

  @media screen and (min-width: 700px) {
    width: 400px;
  }
}

.sidebar-hide {
  left: -100%;
  box-shadow: none;

  @media screen and (min-width: 700px) {
    left: -400px;
  }
}

.sidebar-show {
  left: 0;
  box-shadow: 0 0 3px $gray;
}

.filter-container {
  width: 100%;
  padding: 20px 10px 0;
  margin: 0;
}
.filter {
  width: 100%;
  padding: 5px;
  border: 1px solid $white;
  border-radius: 0;
  font-size: 20px;
  font-family: inherit;
  background-color: $background;
  color: $white;
  outline: inherit;
}
.filter:focus {
    border-color:$white;
    outline: 3px solid $sky;
}

.places {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.place {
  margin: 10px 0;
}

.place-link {
  font-size: 20px;
  color: $white;
  margin: 10px 0;
}
