@import 'colors';
@import 'fonts';

$topbar-size: 48px;

$sidebar-size: 300px;

#map {
  height: 100%;
  width: 100%;
  padding-top: $topbar-size;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -$sidebar-size;
  width: $sidebar-size;
  padding-top: $topbar-size;
  height: 100%;
  background-color: $background;
  padding: $topbar-size 8px 0px;
  transition: left 200ms ease-out;
  box-shadow: 0 0 3px #777;
}

* {
  box-sizing: border-box;
  font-family: $open-sans;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  height: 100vh;
  width: 100%;
}

.topbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: $topbar-size;
  background-color: $background;
  padding: 0px 8px;
  box-shadow: 0 0 3px #777;
}

.menu {
  line-height: $topbar-size;
  font-size: 32px;
  font-weight: bold;
  color: #eef;
  text-decoration: none;
}

.filtro {
  width: 100%;
  padding: 10px;
  border: 1px solid #eef;
}

.places {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.place {
  font-size: 20px;
  color: #eef;
  margin: 10px 0;
}

.title {
  line-height: $topbar-size;
  font-size: 32px;
  font-weight: bold;
  color: #eef;
}
